body{
	background-color: #0f0f0a;
	color:white;
	padding-top: 80px;
}
.pink{
	background-color: pink;
	border:2px solid white;
	height: 200px;
}
.images{
	height:300px;
}
.imageshow{
	height:500px;
}
.showtext{
	float: bottom;
	color:green;
}
.showspan{
	color: white;
	font-weight:bold;
}